html, body {height: 100%;}
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.9rem;
  background: url(../img/Fon.jpg) no-repeat center center fixed;
  background-size: cover; 
  -webkit-background-size: cover;
}
.pointer {cursor: pointer;}
h1 {font-size: 3.6rem;}
h2 {font-size: 2.3rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.7rem;}
h5 {font-size: 1.4rem;}
h6 {font-size: 1.1rem;}
header, main, footer {padding-left: 240px;}
@media only screen and (max-width : 768px) {header, main, footer {padding-left: 0;}}
/* Меняем дефолтные цвета */
.black, .black-skin .gradient {background: #343a40 !important;}
.registrationForm {min-height: 600px;}
#formField {display: none;}
/* Сортируемые таблицы */
.bs-select, .dataTables_info {text-align: left!important;}
/* Лоадер  окно */
.btnSuccess, .btnCancel {
  max-width: 500px!important;
  height: 50vh;
  margin: 0 auto;
}
/* Серый цвет у залоченных полей */
.disableElem {
  background: rgb(232, 235, 237)!important;
  color: #666666!important;
}
/* Ширина модального окна */
.modal-size-lg {width: 700px!important;}
.modal-size-md {width: 500px!important;}
.modal-dialog {max-width: 100%!important;}
.fontSmall {font-size: 0.8rem;}
sup {font-size: 7px;}